{% extends "template/account_base.html" %}
{% block head %}
{{ super() }}
<link href="/static/history.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block right_column %}
{% for entry in invited_list %}
  <div class="per-challenge">
    {% if entry.status == 'accepted' %}
      You have accepted the challenge <a href="{{ uri_for('detail', challenge_id=entry.get('challenge_id')) }}">{{ entry.challenge_title }}</a> invited by {{ entry.inviter.name }}
    {% elif entry.status == 'rejected' %}
      You have rejected the challenge <a href="{{ uri_for('detail', challenge_id=entry.get('challenge_id')) }}">{{ entry.challenge_title }}</a> invited by {{ entry.inviter.name }}
    {% elif entry.status == 'pending' %}
      You are invited to the challenge <a href="{{ uri_for('detail', challenge_id=entry.get('challenge_id')) }}">{{ entry.challenge_title }}</a> invited by {{ entry.inviter.name }}
    {% elif entry.status == 'verifying' %}
      You have submitted the challenge <a href="{{ uri_for('detail', challenge_id=entry.get('challenge_id')) }}">{{ entry.challenge_title }}</a> invited by {{ entry.inviter.name }}
    {% else %}
      You have completed the challenge <a href="{{ uri_for('detail', challenge_id=entry.get('challenge_id')) }}">{{ entry.challenge_title }}</a> invited by {{ entry.inviter.name }}, Congratulations!
      {% if entry.status == 'verified' %}
        You have a chance to invite your friends to the challenge!
      {% endif %}
    {% endif %}
      <!-- <span class="challenge-summary">{{ entry.get('status') }}</span> -->
  </div>
{% endfor %}
{% for entry in inviting_list %}
  <div class="per-challenge">
    {% if entry.status == 'accepted' %}
      {{ entry.invitee.name }} has accepted your invitation to the challenge <a href="{{ uri_for('detail', challenge_id=entry.get('challenge_id')) }}">{{ entry.challenge_title }}</a>
    {% elif entry.status == 'rejected' %}
      {{ entry.invitee.name }} has rejected your invitation to the challenge <a href="{{ uri_for('detail', challenge_id=entry.get('challenge_id')) }}">{{ entry.challenge_title }}</a>
    {% elif entry.status == 'pending' %}
      You invited {{ entry.invitee.name }} to the challenge <a href="{{ uri_for('detail', challenge_id=entry.get('challenge_id')) }}">{{ entry.challenge_title }}</a>
    {% elif entry.status == 'verifying' %}
      {{ entry.invitee.name }} has submitted the challenge <a href="{{ uri_for('detail', challenge_id=entry.get('challenge_id')) }}">{{ entry.challenge_title }}</a> Take a look!
    {% else %}
      {{ entry.invitee.name }} has completed the challenge <a href="{{ uri_for('detail', challenge_id=entry.get('challenge_id')) }}">{{ entry.challenge_title }}</a>
    {% endif %}
      <!-- <span class="challenge-summary">{{ entry.get('status') }}</span> -->
  </div>
{% endfor %}
{% for entry in created_list %}
  <div class="per-challenge">
      You created the challenge <a href="{{ uri_for('detail', challenge_id=entry.get('challenge_id')) }}">{{ entry.challenge_title }}</a>
  </div>
{% endfor %}
{% endblock %}