<!DOCTYPE html>
<html>
    <head>
    {% block head %}
        <title>Take your challenge!</title>
        <link href="/static/base.css" rel="stylesheet" type="text/css">
        <script src="/static/base.js" language="JavaScript" type="text/javascript"></script>
    {% endblock %}
    </head>
    <body>
    {% block navigation %}
    <div id="navigation-bar-background">
        <div id="navigation-bar" class="container">
            <a href="{{ uri_for('home') }}" id="home-link">WabService</a>
            <a href="{{ uri_for('create') }}" id="create-link">Create Challenge</a>
            <a href="{{ uri_for('requests') }}" id="requests-link">Challenge Requests</a>

            <div class="user-info"><fb:login-button autologoutlink="true" scope="public_profile,email,user_friends " onlogin="load_page();"></fb:login-button></div>
        </div>
    </div>
    {% endblock %}

    {% block body %}
    {% endblock %}

    {% block dialog %}
    <div id="bottom-dialog" class="dialog {{ warning }}">
        {{ dialog }}
    </div>
    {% endblock %}

    {% block footscript %}
    {% endblock %}
    </body>
    }
</html>