{% extends "template/detail.html" %}
{% block head %}
{{ super() }}
<link href="/static/completions.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block challenge_body %}
<div id="completion-list">
    <div class="entry">
        <div class="challenger">Challenger</div>
        <div class="link">Feat</div>
        {% if creator == 1 %}
        <div class="decision">Decision</div>
        {% endif %}
    </div>
    {% for entry in completion_list %}
    <div class="entry">
        <div class="challenger-name">{{ entry.get('name') }}</div>
        <div class="link"><a href="{{ uri_for('serve_file', challenge_id=challenge.challenge_id, user_id=entry.get('user_id')) }}">
        {% if entry.get('tag') == 'img' %}
        <img src="{{ uri_for('serve_file', challenge_id=challenge.challenge_id, user_id=entry.get('user_id')) }}">
        {% else %}
        <video controls>
            <source src="{{ uri_for('serve_file', challenge_id=challenge.challenge_id, user_id=entry.get('user_id')) }}" type="{{ entry.get('type') }}">
        </video>
        {% endif %}
        <br>{{ entry.get('filename') }}</a></div>
        {% if creator == 1 %}
            {% if entry.get('status') == 'verifying' %}
            <button class="confirm"><a href="{{uri_for('confirm', request_id=entry.get('request').key().id())}}">Confirm</a></button>
            <button class="not-confirm"><a href="{{uri_for('retry', request_id=entry.get('request').key().id())}}">Try again</a></button>
            {% else %}
            <div class="confirmed">Confirmed</div>
            {% endif %}
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}