{% extends "template/detail.html" %}
{% block head %}
{{ super() }}
<link href="/static/completions.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block challenge_body %}
<div id="completion-list">
    <div class="entry">
        <div class="challenger">Challenger</div>
        <div class="link">Feat</div>
        {% if creator == 1 %}
        <div class="decision">Decision</div>
        {% endif %}
    </div>
    {% for entry in completion_list %}
    <div class="entry">
        <div class="challenger-name">{{ entry.get('name') }}</div>
        <div class="link"><a href="{{ uri_for('serve_file', challenge_id=challenge.challenge_id, user_id=entry.get('user_id')) }}"><img src="{{ uri_for('serve_file', challenge_id=challenge.challenge_id, user_id=entry.get('user_id')) }}"><br>{{ entry.get('filename') }}</a></div>
        {% if creator == 1 %}
        <button class="confirm">Confirm</button>
        <button class="not-confirm">Try again</button>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}