{% extends "template/base.html" %}
{% block head %}
{{ super() }}
<link href="/static/create.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<div id="create-container" class="container">
    <form action="{{ uri_for('create') }}" method="post">
        <div class="input title" id="input-title-div">
            <p>What's the title of your challenge?</p>
            <input class="text" name="title" id="input-title" autofocus type="text" tabindex="1" />
        </div>
        <div class="input summary" id="input-summary-div">
            <p>Please briefly describe your challenge.</p>
            <input class="text" name="summary" id="input-summary" type="text" tabindex="2"/>
        </div>
        <div class="input content" id="input-content-div">
            <p>Please give a detailed description of your challenge.</p>
            <textarea class="text" name="content" id="input-content" tabindex="3">What's for, how to complete, why it's interesting, time limit, etc.</textarea>
        </div>
        <div class="input category" id="input-category-div">
            <p>What kind of challenge?</p>
            {% for category in category_list %}
            <input type="checkbox" name="category" value="{{category}}"/>{{category}}<br/>
            {% endfor %}
        </div>
        <div class="input submit" id="submit-button-div">
            <input type="submit" value="Create" class="button">
            <a class="button" href="{{ uri_for('home') }}">Back to list</a>
        </div>
    </form>
</div>
{% endblock %}