{% extends "template/index.html" %}
{% block head %}
{{ super() }}
<link href="/static/detail.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block challenge %}
<div id="challenge-container">
    <div id="challenge-info-bar" class="container">
        <a href="{{ uri_for('detail', challenge_id=challenge.challenge_id) }}" id="challenge-title">{{ challenge.title }}</a>
        {% if discussion_active %}
        <a href="{{ uri_for('discussions', challenge_id=challenge.challenge_id) }}" class="bar active" id="discussions-bar">Discussions</a>
        {% else %}
        <a href="{{ uri_for('discussions', challenge_id=challenge.challenge_id) }}" class="bar" id="discussions-bar">Discussions</a>
        {% endif %}
        {% if completion_active %}
        <a href="{{ uri_for('completions', challenge_id=challenge.challenge_id) }}" class="bar active" id="completions-bar">Completions</a>
        {% else %}
        <a href="{{ uri_for('completions', challenge_id=challenge.challenge_id) }}" class="bar" id="completions-bar">Completions</a>
        {% endif %}
        {% if intro_active %}
        <a href="{{ uri_for('detail', challenge_id=challenge.challenge_id) }}" class="bar active" class="intro-bar">Introduction</a>
        {% else %}
        <a href="{{ uri_for('detail', challenge_id=challenge.challenge_id) }}" class="bar" class="intro-bar">Introduction</a>
        {% endif %}
    </div>
    {% block challenge_body %}
    <div id="state-info-container">
        <div id="creator-info">{{ creator }}</div>
        <div class="state-info">Accept: {{ challenge.accept_counts }}</div>
        <div class="state-info">Completed: {{ challenge.completion_counts }}</div>
    </div>
    <div id="challenge-info-container">
        <div id="challenge-description">
            <h3>Description:</h3>
            <p>{{ challenge.summary }}</p>
            {% for tag in challenge.category %}
            <div class="tag">{{ tag }}</div>
            {% endfor %}
        </div>
        <div id="challenge-content">
            <h3>Introduction:</h3>
            <p>{{ challenge.content }}</p>
        </div>
        {% if challenge.annotation %}
        <div id="annotation">
            <h3>Annotation:</h3>
            <p>{{ challenge.annotation }}</p>
        </div>
        {% endif %}
        <div id="challenge-verification-method">
            <h3>Verification method:</h3>
            <p>{{ challenge.veri_method }}</p>
        </div>

        <div id="interactive-block">
        {% if state == 1 %}
            <p class="elaborate">This challenge has been closed.</span>
            <p class="suggestion">You may wanna take a look at other challenges.</p>
        {% elif state == 2 %}
            <p class="elaborate">Your challenge is on the fly.</p>
            <p class="suggestion">You may wanna take a look at new completing application.</p>
            <button class="others-work">Completions</button>
        {% elif state == 3 %}
            <p class="elaborate">Congratulation! You have completed this challenge.</p>
            <p class="suggestion">It's time to challenge your friends!</p>
            <button class="others-work">Invite</button>
        {% elif state == 4 %}
            <p class="suggestion">Upload an image or video to verify your success.</p>
            <form action="{{ uri_for('upload', challenge_id=challenge.challenge_id) }}" method="post" enctype="multipart/form-data">
                <input type="file" name="file" class="file" />
                <input type="submit" value="Upload" class="button" />
            </form>
            <!--button class="upload">Upload</button-->
            <button class="cancel">Give up</button>
        {% elif state == 5 %}
            <p>You have been challenged. Let's do it!</p>
            <button class="accept">Accept</button>
            <button class="reject">Reject</button>
        {% elif state == 6 %}
            <p class="suggestion">Take the challenge!</p>
            <button class="take">Take!</button>
        {% elif state == 7 %}
            <p class="elaborate">Congratulation! You have completed this challenge.</p>
            <p class="suggestion">You may wanna take a look at how others did.</p>
            <button class="others-work">Completions</button>
        {% endif %}
            <button class="back-to-list">Back to list</button>
        </div>
    </div>
    {% endblock %}
</div>
{% endblock %}