{% extends "template/index.html" %}
{% block head %}
{{ super() }}
<link href="/static/detail.css" rel="stylesheet" type="text/css">
<script src="/static/detail.js" language="JavaScript" type="text/javascript"></script>
{% endblock %}

{% block challenge %}
<div id="challenge-container">
    <div id="challenge-info-bar" class="container">
        <a href="{{ uri_for('detail', challenge_id=challenge.challenge_id) }}" id="challenge-title">{{ challenge.title }}</a>
        {% if editable %}
        <a href="{{ uri_for('edit', challenge_id=challenge.challenge_id) }}">Edit</a>
        {% endif %}
        <a href="{{ uri_for('discussions', challenge_id=challenge.challenge_id) }}" class="bar" id="discussions-bar">Discussions</a>
        <a href="{{ uri_for('completions', challenge_id=challenge.challenge_id) }}" class="bar" id="completions-bar">Completions</a>
        <a href="{{ uri_for('detail', challenge_id=challenge.challenge_id) }}" class="bar" id="intro-bar">Introduction</a>
    </div>
    {% block challenge_body %}
    <div id="state-info-container">
        <div id="creator-info">Creator: {{ creator.name }}</div>
        <div class="state-info">Accept: {{ challenge.accept_counts }}</div>
        <div class="state-info">Completed: {{ challenge.completion_counts }}</div>
    </div>
    <div id="challenge-info-container">
        <div id="challenge-description">
            <h3>Description:</h3>
            <p>{{ challenge.summary }}</p>
            {% for tag in challenge.category %}
            <div class="tag">{{ tag }}</div>
            {% endfor %}
        </div>
        <div id="challenge-content">
            <h3>Introduction:</h3>
            <p>{{ challenge.content }}</p>
        </div>
        {% if challenge.annotation %}
        <div id="annotation">
            <h3>Annotation:</h3>
            <p>{{ challenge.annotation }}</p>
        </div>
        {% endif %}
        <div id="challenge-verification-method">
            <h3>Verification method:</h3>
            <p>{{ challenge.veri_method }}</p>
        </div>

        <div id="interactive-block">
        {% if state == 1 %}
            <p class="elaborate">This challenge has been closed.</span>
            <p class="suggestion">You may wanna take a look at other challenges.</p>
        {% elif state == 2 %}
            <p class="elaborate">Your challenge is on the fly.</p>
            <p class="suggestion">You may look at new completing applications or invite more friends.</p>
            <button class="others-work">Completions</button>
            {% if friend_list[0] %}
                <form action="{{ uri_for('invite', challenge_id=challenge.challenge_id ) }}" method="post">
                    <select name="friend1" id="friend" tabindex="4">
                        {% for friend in friend_list %}
                            <option value="{{friend[1]}}"}>{{friend[0]}}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Invite" class="button">
                </form>
            {% else %}
                <p class="elaborate">No friend available to invite.</p>
            {% endif %}
        {% elif state == 3%}
            <p class="elaborate">Congratulation! You have completed this challenge.</p>
            <p class="suggestion">It's time to challenge your friends!</p>
            {% if friend_list[0] %}
                <form action="{{ uri_for('invite', challenge_id=challenge.challenge_id ) }}" method="post">
                    <select name="friend1" id="friend" tabindex="4">
                        {% for friend in friend_list %}
                            <option value="{{friend[1]}}"}>{{friend[0]}}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Invite" class="button">
                </form>
            {% else %}
                <p class="elaborate">No friend available to invite.</p>
            {% endif %}
        {% elif state == 4 %}
            <p class="suggestion">Upload an image or video to verify your success.</p>
            <form action="{{ uri_for('upload', challenge_id=challenge.challenge_id) }}" method="post" enctype="multipart/form-data">
                <input type="file" name="file" class="file" />
                <input type="submit" value="Upload" class="button" />
            </form>
            <!--button class="upload">Upload</button-->
            <button class="cancel">Give up</button>
        {% elif state == 5 %}
            <p>You have been challenged. Let's do it!</p>
            <button class="accept"><a href="{{uri_for('accept', request_id=request_id)}}">Accept</a></button>
            <button class="reject"><a href="{{uri_for('reject', request_id=request_id)}}">Reject</a></button>
        {% elif state == 6 %}
            <p class="suggestion">Challenge rejected. Reconsider Taking the challenge!</p>
            <button class="take">Take!</button>
        {% elif state == 7 %}
            <p class="elaborate">Congratulation! You have completed this challenge.</p>
            <p class="suggestion">You may wanna take a look at how others did.</p>
            <button class="others-work">Completions</button>
        {% elif state == 8 %}
            <p class="elaborate">Challenge completion waiting for verification.</p>
        {% elif state == 9 %}
            <p class="elaborate">You are not invited to the challenge.</p>
        {% else %}
            <p class="suggestion">Please login to perform any action.</p>
        {% endif %}
            <button class="back-to-list">Back to list</button>
        </div>
    </div>
    {% endblock %}
</div>
{% endblock %}