{% extends "template/base.html" %}
{% block head %}
{{ super() }}
<link href="/static/create.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<div id="create-container" class="container">
    <form action="{{ uri_for('edit', challenge_id=challenge.challenge_id) }}" method="post">
        <div class="input title" id="input-title-div">
            <p>What's the title of your challenge?</p>
            <input class="text" name="title" id="input-title" autofocus type="text" tabindex="1" value="{{ challenge.title }}"/>
        </div>
        <div class="input summary" id="input-summary-div">
            <p>Please briefly describe your challenge.</p>
            <input class="text" name="summary" id="input-summary" type="text" tabindex="2" value="{{ challenge.summary }}"/>
        </div>
        <div class="input content" id="input-content-div">
            <p>Please give a detailed description of your challenge.</p>
            <textarea class="text" name="content" id="input-content" tabindex="3">{{ challenge.content }}</textarea>
        </div>
        <div class="input category" id="input-category-div">
            <p>What kind of challenge?</p>
            {% for category in category_list %}
            <input type="checkbox" name="category" value="{{category}}" {% if checked[loop.index0] %} checked {% endif %}/>{{category}}<br/>
            {% endfor %}
        </div>
        <div class="input submit" id="submit-button-div">
            <input type="submit" value="Update" class="button">
            <a class="button" href="{{ uri_for('detail', challenge_id=challenge.challenge_id) }}">Back</a>
        </div>
    </form>
</div>
{% endblock %}