{% extends "template/index.html" %}
{% block head %}
{{ super() }}
<link href="/static/create.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block challenge %}
<div id="requests-container" class="container">
    <table style="width:100%">
        <tr>
            <td>ID</td>
            <td>inviter_id</td>
            <td>challenge_id</td>
            <td>invitee_id</td>
            <td>status</td>
            <td>action</td>
        </tr>
        {% for request in requests %}
        <tr>
            <td>{{request.key().id()}}</td>
            <td>{{request.inviter_id}}</td>
            <td>{{request.challenge_id}}</td>
            <td>{{request.invitee_id}}</td>
            <td>{{request.status}}</td>
            <td>
                <a href="{{ uri_for('accept', request_id = request.key().id()) }}" id="requests-link">Accept</a>
                <a href="{{ uri_for('reject', request_id = request.key().id()) }}" id="requests-link">Reject</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}