div.entry {
    padding-top: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

div.challenger-name, div.challenger {
    width: 20%;
    text-align: center;
    display: inline-block;
}

div.challenger-name {
    position: relative;
    top: -50px;
}

div.link {
    width: 40%;
    text-align: center;
    display: inline-block;
}

div.decision {
    width: 20%;
    text-align: center;
    display: inline-block;
}

button.confirm, button.not-confirm {
    margin-left: 20px;
    position: relative;
    top: -50px;
}

img {
    height: 150px;
}
