div.entry {
    padding-top: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

div.challenger-name, div.challenger {
    width: 20%;
    text-align: center;
    display: inline-block;
}

div.challenger-name {
    position: relative;
    top: -90px;
}

div.link {
    width: 40%;
    text-align: center;
    display: inline-block;
}

div.decision, div.confirmed {
    width: 20%;
    text-align: center;
    display: inline-block;
}

div.confirmed {
    position: relative;
    top: -90px;
}

a.confirm, a.not-confirm {
    margin-left: 20px;
    position: relative;
    top: -90px;
}

img, video {
    height: 180px;
    max-width: 320px;
}