#challenge-info-bar {
    border-bottom: 1px solid rgb(200,200,200);
}

#challenge-title {
    float: left;
    font-size: 32px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}

a.bar {
    float: right;
    padding-top: 55px;
    padding-bottom: 20px;
    margin-right: 40px;
    font-size: 14px;
    width: 105px;
    text-align: center;
}

a.bar.active {
    border-bottom: 4px solid rgb(0, 220, 0);
}

#state-info-container {
    padding-top: 10px;
    float: right;
    width: 200px;
}

#state-info-container div {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 14px;
}

#challenge-info-container {
    float: left;
    width: 70%;
}

 #challenge-description, #challenge-content {
    border-bottom: 1px solid rgb(200,200,200);
}

#challenge-content, #annotation, #challenge-verification-method, #challenge-description, #interactive-block {
    padding-top: 15px;
    padding-left: 10px;
}

h3 {
    margin: 0;
    padding-bottom: 15px;
    color: rgb(100,100,100);
}

p {
    margin: 0;
    padding-bottom: 10px;
    line-height: 23px;
}

div.tag {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 3px 5px;
    font-size: 12px;
    border: 1px solid rgb(200,200,200);
    border-radius: 2px;
}

div.tag:hover {
    background-color: rgb(220,220,220);
}

#interactive-block button {
    margin-top: 10px;
    margin-right: 10px;
}

input.file {
    outline: none;
    cursor: pointer;
    font-size: 15px;
    display: inline-block;
    margin-right: 10px;
    border: 1px solid rgb(200,200,200);
    border-radius: 5px;
}

#progress-bar {
    margin-top: 6px;
    width: 350px;
}

#progress-bar p {
    border: 1px solid rgb(200,200,200);
    text-align: center;
    border-radius: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: white;
    background-image: url("/static/bar.jpg");
    background-repeat: no-repeat;
}

#friend-container {
    height: 50px; 
    width: 180px; 
    overflow: auto; 
    border: 1px solid rgb(200,200,200);
    margin-bottom: 5px;
}