#present-category-and-search {
    padding: 20px 10px;
    border-bottom: 1px solid rgb(200,200,200);
    font-size: 15px;
}

#present-category {
    float: left;
    padding: 6px 10px;
}

#search-box {
    float: right;
}

#search-field {
    display: inline-block;
}

#search-button {
    margin-left: 10px;
}

#category-list {
    float: left;
    margin-top: 30px;
    margin-left: 20px;
    width: 150px;
}

#category-list div {
    padding-left: 20px;
}

#category-list ul {
    display: block;
    padding: 0;
    text-align: center;
}

#category-list ul li {
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 14px;
    border-top: 1px solid rgb(200,200,200);
    font-size: 15px;
}

#category-list ul li:hover {
    position: relative;
    border-top: 5px solid rgb(81,203,238);
    padding-top: 8px;
    color: rgb(81,203,238);
    cursor: pointer;
}

#search-result {
    float: left;
    margin-top: 30px;
    margin-left: 50px;
    width: 70%;
}

#challenge-list {
    float: left;
    margin-top: 50px;
    margin-left: 70px;
    width: 70%;
}

#challenge-list li {
    display: block;
    border: 1px solid rgb(200,200,200);
    border-radius: 5px;
    margin-bottom: 20px;
    height: 120px;
    overflow: hidden;
}

#challenge-list li a {
    display: block;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 20px;
}

#challenge-list li span {
    display: block;
    padding: 10px 20px;
}